ABCParse==0.1.4
adata-query==0.2.1
aiohappyeyeballs==2.7.1
aiohttp==3.14.4
aiosignal==1.4.0
anndata==0.12.19
array-api-compat==1.15.0
asttokens==3.0.2
attrs==26.1.0
autodevice==0.1.0
cell-neighbors==0.2.0
cell-perturb==0.0.1
cellplots==0.0.1
certifi==2026.7.22
charset-normalizer==3.5.2
cloudpickle==3.1.2
comm==0.2.3
contourpy==1.3.3
cycler==0.12.1
debugpy==1.8.22
derivative==0.6.3
donfig==0.8.1.post1
executing==2.2.1
fastjsonschema==2.22.2
filelock==3.32.3
fonttools==4.66.1
formulaic==1.2.2
frozenlist==1.8.0
fsspec==2026.7.0
geomloss==0.3.1
google-crc32c==1.9.0
h5py==3.16.0
idna==3.20
importlib_metadata==9.0.1
iniconfig==2.3.1
interface_meta==2.0.1
ipykernel==7.1.0
ipython==9.17.1
ipython_pygments_lexers==1.1.1
jedi==0.20.0
Jinja2==3.1.6
joblib==1.6.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_client==8.10.0
jupyter_core==5.9.1
keopscore==2.3
kiwisolver==1.5.1
legacy-api-wrap==1.5
licorice-font==0.0.3
lightning==2.6.6
lightning-utilities==0.15.3
llvmlite==0.50.0
MarkupSafe==3.0.3
matplotlib==3.11.2
matplotlib-inline==0.2.2
mpmath==1.3.0
multidict==6.9.1
narwhals==2.26.0
natsort==8.4.0
nbclient==0.10.2
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.6.1
neural-diffeqs==0.4.1
numba==0.68.0
numcodecs==0.16.5
numpy==2.4.6
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.2
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
packaging==26.3
pandas==2.3.3
parso==0.8.7
patsy==1.0.3
pexpect==4.9.0
pillow==12.3.0
platformdirs==4.12.3
plotly==7.1.0
pluggy==1.6.0
prompt_toolkit==3.0.53
propcache==0.5.4
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.4
pybind11==3.1.0
pydk==0.0.55
Pygments==2.21.0
pykeops==2.3
pynndescent==0.6.0
pyparsing==3.3.3
pysindy==2.1.0
pytest==8.4.2
python-dateutil==2.9.0.post0
pytorch-lightning==2.6.6
pytz==2026.5
PyYAML==6.0.3
pyzmq==27.2.0
referencing==0.37.0
requests==2.34.2
rpds-py==2026.9.1
scanpy==1.11.5
scdiffeq==1.1.4
scikit-learn==1.9.1
scipy==1.17.1
scverse-misc==0.0.3
seaborn==0.13.2
session-info2==0.4.1
six==1.17.0
stack-data==0.6.3
statsmodels==0.15.0
sympy==1.13.1
threadpoolctl==3.7.0
torch==2.6.0+cu124
torch-nets==0.2.1
torch_adata==0.1.1
torchmetrics==1.9.0
torchsde==0.2.6
tornado==6.5.10
tqdm==4.70.1
traitlets==5.16.1
trampoline==0.1.2
triton==3.2.0
typing_extensions==4.16.0
tzdata==2026.5
umap-learn==0.5.12
urllib3==2.8.0
vinplots==0.0.75
voyager==2.1.0
wcwidth==0.9.2
WebFiles==0.0.1
wget==3.2
wrapt==2.5.0
yarl==1.25.1
zarr==3.1.6
zipp==4.1.1
